main{
    width: 100%;
    max-width: 1080px;
    background-color: rgb(255, 255, 255);
    margin:  0 auto;
    text-align: left;
}

#main_section{
    display: flex;
}
h1{
    text-align: left;
    margin: 0px 20px;
    font-size: xx-large;
}
#second_section{
    box-shadow: 10px 10px 5px 9px rgb(137, 168, 204);
    margin: 0px 40px 30px;
    padding: 20px 10px 40px 10px;
}

h4{
    padding: 5px 0px 20px 0px;
}

#action_1{
    padding: 40px;
}
#action_2{
    padding: 40px;
}


#hero{
    object-fit: cover;
    height: 400px;
}

#caption_1{
    font-size: smaller;
    color:rgb(87, 89, 92);
    padding: 0px 0px 10px 0px;
}

#caption_2{
    font-size: smaller;
    color:rgb(87, 89, 92);
    padding: 0px 0px 10px 0px;
}