main{
    width: 100%;
    max-width: 1080px;
    background-color: rgb(255, 255, 255);
    margin:  0 auto;
    text-align: left;
}

#main_section{
    display: flex;
}

h4{
    padding: 0px 0px 10px 0px;
}

#aware{
    padding: 40px;
} 
#awareness{
    padding: 40px;
}

#trash{
    margin: 10px 0px 10px 0px;
}

#waterbottle{
    margin: 10px 0px;
}

#caption_1{
    font-size: smaller;
    color:rgb(87, 89, 92);
    padding: 0px 0px 10px 0px;
}

#caption_2{
    font-size: smaller;
    color:rgb(87, 89, 92);
    padding: 0px 0px 10px 0px;
}