@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    /* border-style: solid; */
}

/* main{
    width: 100%;
    max-width: 1080px;
    background-color: rgb(255, 255, 255);
    margin:  0 auto;
    text-align: left;
} */

body{
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    width: 100%;
    text-align: center;
}

img{
    width: 100%;
}

/*topbar*/
.top-bar{
    background-color: rgb(33, 86, 166);
    width: 100%;
    position: absolute;
    overflow: hidden;
    font: 3.5vh;

}

.top-bar ul{
    display: flex;
    justify-content: space-around;
}

.top-bar ul li{
    list-style: none;
    margin-top: 1%;
    margin-bottom: 1.2%;
    text-decoration: none;
    border:0;
    position: relative;
}

.top-bar ul li a{
    /* display: block; */
    padding: 1vh;
    font-size: 1.5vh;
    color: rgb(79, 142, 252);
    transition: 0.25s;
 
}

.top-bar ul li a:hover{
    background-color: rgb(44, 113, 216);
    color:rgb(255, 255, 255);
}
/*footer*/
 
footer{
    display: grid;
    place-items: center;
    grid-template-columns: auto 1fr auto;
    position: relative;
    width: 100%;
    bottom: 0;
    background-color: rgb(33, 86, 166);
}

footer ul{
    display:flex;
    justify-content: space-around;
    margin:0px 30px;
}

footer ul li{  
    list-style: none;
}

footer ul li a{
    display: block;
    padding: 20px;
    font-size: 20;
    color: rgb(79, 142, 252);
    transition: 0.25s;
}

footer ul li a:hover{
    background-color: rgb(44, 113, 216);
    color:rgb(255, 255, 255);
}


#social{
    display: flex;
    justify-content: space-around;
}   

#social ul li a{
    width:30px;
    height:30px;
    border-radius: 40px;
}
/*icons*/

.fa-instagram{
    color:rgb(255, 255, 255);
    font-size: 3vh;
}
.fa-discord{
    color:rgb(255, 255, 255);
    font-size: 3vh;
}
.fa-facebook{
    color: rgb(255, 255, 255);
    font-size: 3vh;
}