/* #head{
    font-size: 300%;
    text-align: center;
}
body{
    background-color: #ffffff;
}


h1{
    color:rgb(255, 255, 255);
}

h2{
    color: rgb(255, 255, 255);
}

h3{
    color:rgb(255, 255, 255);
}

p{
    color: aliceblue;
}
li{
    color: aliceblue;
}
.skin{
    height: 40%;
} */
