.big-box, .little-box{
    width: 100px;
    height: 100px;
}

.big-box{
    background-color: rgb(116, 175, 231);
    margin: 40px;
    padding: 90px;
}

.little-box{
    background-color: rgb(200, 243, 241);
}

.box{
    background-color: blue;
    margin: 40px;
    padding: 90px;
    margin-right: 60px;
}
.littlebox{
    background-color: black;
}